@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.portal-window {
  position: fixed;
  z-index: 1030;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0e0700;
  background: rgba(13, 13, 17, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Portal Content/Box */
.portal-window-content {
  color: #f5f5f5 !important;
  margin: auto;
  border-radius: 8px;
  max-width: 395px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.portal-window-content .modal-section {
  background: #09101b;
  background-size: cover;
  background-position: center;
  padding: 15px 0 25px;
  border-radius: 25px;
  border: 1px solid #363c46;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.modal-section .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 15px;
}

.modal-section .modal-header .m-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
}

.modal-section .modal-header .btn {
  color: #f7f7f7;
  padding: 3px;
  border: none;
  box-shadow: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

.modal-section .modal-header .btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.modal-section .modal-header .btn .fa-solid {
  font-size: 18px;
}

.wallet-wrapper {
  max-height: 78vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px 10px 10px;
  scrollbar-width: none;
  margin: 0;
}

.wallet-wrapper .wallet-col-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wallet-wrapper .wallet-col-wrapper .wallet-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.wallet-wrapper .wallet-col-wrapper .wallet-col .btn {
  width: 47%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8px 5px;
  border-radius: 7px;
  background: #131925;
  color: #f5f5f5;
  border: 1px solid #45474a;
  margin: 6px 4px 6px;
  font-family: "Poppins", sans-serif;
}

.wallet-wrapper .wallet-col-wrapper .wallet-col .btn img {
  max-height: 32px;
  max-width: 32px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: auto 0;
}

.wallet-wrapper .wallet-col-wrapper .wallet-col .btn .btn-text {
  font-size: 13px;
  font-weight: 600;
  padding-left: 5px;
  color: #f5f5f5 !important;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.25px;
  margin: auto 0;
}

/* modal connect styles */

.modal-section .modal-wrapper {
  padding: 0 15px;
}

.modal-section .modal-top {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-section .modal-top .modal-img {
  width: 54px;
  height: 54px;
  border-radius: 27px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.modal-section .modal-top .modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-section .modal-top .header-content .m-p-1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.modal-section .modal-top .header-content .m-p-2 {
  font-size: 15px;
  color: #d6d6e1;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.modal-section .modal-bottom {
  text-align: center;
  margin-top: 20px;
}

.modal-section .modal-bottom .m-b-p {
  font-size: 15px;
  color: #888ba8;
  font-weight: 500;
  line-height: 22px;
  padding-top: 0;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

.modal-section .modal-bottom .m-b-p img {
  width: 25px;
  margin-right: 5px;
}

.modal-main .modal-load {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #90cdf4;
  width: 80%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(53, 53, 69, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1.5s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.modal-load p {
  margin: 0;
  padding: 0;
}

.modal-load .l-p-1 {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.modal-load .l-p-2 {
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  color: #b2b3c7;
  font-family: "Poppins", sans-serif;
}

.modal-main .modal-error {
  padding: 10px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-error .btn {
  width: 100%;
}

.modal-error .btn-outline-danger {
  padding: 6px 5px;
  font-size: 12px;
  font-weight: 400;
  color: #d33342;
  margin-bottom: 35px;
  border-radius: 5px;
  border: 1px solid #d33342;
  background: transparent;
}

.modal-error .btn-outline-danger:hover {
  background: transparent;
  color: #d33342;
}

.modal-error .action-btn .btn {
  width: 100%;
  border-radius: 35px;
  padding: 10px 30px;
  color: #f6f6f9;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
}

.modal-error .btn-outline-secondary {
  margin-bottom: 20px;
  border: 1px solid #45465f;
  background: transparent;
  color: #f6f6f9 !important;
}

.modal-error .btn-outline-secondary:hover {
  background: #45465f;
  color: #f7f7f7;
}

.modal-error .btn-primary {
  border: none;
  color: #f5f5f5 !important;
  background-image: linear-gradient(90deg, rgb(140, 31, 224), rgb(209, 31, 224) 50%, rgb(140, 31, 224));
}

.modal-main .modal-connect {
  padding: 10px 0 10px;
}

.modal-connect .form-group textarea {
  font-size: 14px;
  font-weight: 500;
  color: #ededf1;
  background: #14191d;
  padding: 10px;
  width: 100%;
  border: 1px solid #363c46;
  border-radius: 6px;
}

.modal-connect .form-group textarea:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #363c46;
}

.modal-connect .form-group textarea.error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.2em #d33342;
  border: 1px solid #d33342;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }

  25% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0rem;
  }
}

.modal-connect .form-btn {
  margin-top: 15px;
}

.modal-connect .form-btn .btn {
  border: 0px solid transparent;
  color: #f5f5f5 !important;
  background-image: linear-gradient(90deg, rgb(140, 31, 224), rgb(209, 31, 224) 50%, rgb(140, 31, 224));
  width: 100%;
  border-radius: 35px;
  padding: 11px 30px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}

.modal-section .modal-qr-wrapper {
  padding: 0 15px;
}

.modal-qr {
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-qr .qr-img {
  width: 160px;
  height: 160px;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  background: #f6f6f9;
}

.modal-qr .qr-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-qr .qr-text {
  text-align: center;
  margin-top: 20px;
}

.modal-qr .qr-text p {
  font-size: 17px;
  font-weight: 400;
}

.modal-qr .qr-text p .p-code {
  font-weight: 700;
  font-size: 18px;
}

.claim-btn {
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  /* modal content styles */

  .modal-section .modal-top {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .modal-section .modal-top .modal-img {
    width: 50px;
    height: 50px;

    overflow: hidden;
    margin-bottom: 10px;
  }

  .modal-section .modal-top .header-content .m-p-1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .modal-section .modal-top .header-content .m-p-2 {
    font-size: 15px;
  }

  .modal-section .modal-bottom {
    text-align: center;
    margin-top: 20px;
  }

  .modal-section .modal-bottom .m-b-p {
    font-size: 15px;
  }

  .modal-section .modal-bottom .m-b-p img {
    width: 25px;
    margin-right: 6px;
  }

  .modal-main .modal-load {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px;
  }

  .modal-load p {
    margin: 0;
    padding: 0;
  }

  .modal-load .l-p-1 {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
  }

  .modal-load .l-p-2 {
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
  }

  .modal-main .modal-error {
    padding: 10px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .modal-error .btn {
    width: 100%;
  }

  .modal-error .btn-outline-danger {
    padding: 7px 5px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  .modal-error .action-btn .btn {
    width: 100%;

    font-size: 14px;
  }

  .modal-main .modal-connect {
    padding: 10px 0 10px;
  }

  .modal-connect .form-group textarea {
    font-size: 14px;
  }

  .modal-connect .form-btn {
    margin-top: 15px;
  }

  .modal-connect .form-btn .btn {
    font-weight: 600;
    font-size: 14px;
  }

  .modal-qr {
    padding: 20px 0 20px;
  }

  .modal-qr .qr-img {
    width: 150px;
    height: 150px;
    padding: 5px;
  }

  .modal-qr .qr-text p {
    font-size: 16px;
    font-weight: 400;
  }

  .modal-qr .qr-text p .p-code {
    font-size: 17px;
  }
}

@media only screen and (max-width: 545px) {
  .whitepaper-a {
    display: none;
  }

  .logo-mini {
    width: 55px;
    position: relative;
    left: 5%;
  }
}

@media only screen and (max-width: 395px) {

  /* Portal Content/Box */
  .portal-window-content {
    color: #f7f7f7;
    margin: auto;
    border-radius: 20px;
    max-width: 390px;
    width: 100%;
  }
}

@media only screen and (max-width: 376px) {

  /* Portal Content/Box */
  .portal-window-content {
    color: #f7f7f7;
    margin: auto;
    border-radius: 20px;
    max-width: 370px;
    width: 100%;
  }
}